= link_to "Home", root_path, :class => 'brand'
%li.home-page-menu-item
  - if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to new_user_session_path do 
        .glyphicon.glyphicon-lock
        Login
  - if user_signed_in?
    %li
      = link_to edit_user_registration_path do
        .glyphicon.glyphicon-wrench
        Edit Details
  - else
    %li
      = link_to new_user_registration_path do
        .glyphicon.glyphicon-pencil
        Sign Up
     