!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Rails Bootstrap"
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}/
    = stylesheet_link_tag "application", :media => "all"
    
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  %nav.navbar.navbar-default{role: "navigation"}

    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"} 
        

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = render 'layouts/navigation'
        
  .container
    = render 'layouts/messages'
    = yield

    %footer
   